.search-bar {
    display: flex;
    align-items: center;
    color: rgba(245, 245, 245, 0.733);
    max-width: 70%;
    padding: 20px 10px;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    cursor: pointer;
}

.nav-bar p {
    padding: 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-name {
    cursor: pointer;
    font-size: 20px;
}

.search-bar img:hover {
    opacity: 0.7;
}

.search-bar p:hover {
    opacity: 0.7;
}

.logos {
    display: flex;
}

.logos img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media (max-width: 480px) {
    .search-bar {
        max-width: 100%;
        flex-direction: column;
        align-content: center;
        align-self: center;
    }
}

@media (max-width: 480px) {
    .search-bar p {
        align-content: center;
    }
}

@media (max-width: 480px) {
    .search-bar img {
        width: 40px;
        align-items: baseline;
    }
}

@media (max-width: 480px) {
    .my-name {
        max-width: 100%;
        align-items: center;
    }
}