.sobre {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    color: rgba(245, 245, 245, 0.733);
    margin: 0 auto;
    max-width: 50%;
}

.sobre h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-top: 18px;
}

.sobre img {
   padding-bottom: 10px;
   width: 220px;
}

.name {
    background: linear-gradient(45deg, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
}